body {
  background: url("https://cdn.glitch.com/e6924d8d-b1ad-4e92-b9a5-818234745da0%2FAbstract%20Sun%20Textile%20.jpg?v=1631747726891");
  background-size: cover;
}
h1 {
  text-transform: uppercase;
}
